<%= render KendrickWeb.SharedView, "users_navigation.html", conn: @conn %>

<div class="row">
  <ul>
    <%= for user <- @users do %>
      <li>
        <%= user.name %>

        <%= unless true do %>
          <%= link "Add to the app", to: Routes.user_path(@conn, :add_to_app, user["id"]), method: :post %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
