<%= render KendrickWeb.SharedView, "users_navigation.html", conn: @conn %>

<%= link "Refresh",
  to: slack_user_path(@conn, :refresh),
  class: "btn btn-info",
  role: "button",
  method: :post
%>

<div class="row">
  <ul>
    <%= for slack_user <- @slack_users do %>
      <li>
        <%= slack_user["real_name"] %>
      </li>
    <% end %>
  </ul>
</div>
