<%= render KendrickWeb.SharedView, "users_navigation.html", conn: @conn %>

<div class="row">
  <ul>
    <%= for slack_user <- @slack_users do %>
      <li>
        <%= slack_user["real_name"] %>
      </li>
    <% end %>
  </ul>
</div>
