<div class="row justify-content-center">
  <div class="col-6">
    <%= form_for @changeset, project_team_path(@conn, :create, @project), fn f -> %>
      <div class="form-group">
        <%= label f, :name %>
        <%= text_input f, :name, class: "form-control", required: true %>
      </div>

      <%= submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
